<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AuthentificationServlet</servlet-name>
        <servlet-class>PAAS.Servlets.AuthentificationServlet</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>AccueilStudentServlet</servlet-name>
        <servlet-class>PAAS.Servlets.AccueilStudentServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/AuthentificationServlet</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>AccueilStudentServlet</servlet-name>
        <url-pattern>/AccueilStudentServlet</url-pattern>
    </servlet-mapping>
    
</web-app>
