<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>AuthentificationServlet</servlet-name>
        <servlet-class>PAAS.Servlets.AuthentificationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VmStudentServlet</servlet-name>
        <servlet-class>PAAS.Servlets.VmStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VmProfServlet</servlet-name>
        <servlet-class>PAAS.Servlets.VmProfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeconnexionStudentServlet</servlet-name>
        <servlet-class>PAAS.Servlets.DeconnexionStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/accueil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthentificationServlet</servlet-name>
        <url-pattern>/accueilProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VmStudentServlet</servlet-name>
        <url-pattern>/vm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VmProfServlet</servlet-name>
        <url-pattern>/vmProf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VmProfServlet</servlet-name>
        <url-pattern>/vmProfModify</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeconnexionStudentServlet</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <!-- TemplateProfServlet           -->
    <servlet>
        <servlet-name>TemplateProfServlet</servlet-name>
        <servlet-class>PAAS.Servlets.TemplateProfServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateProfServlet</servlet-name>
        <url-pattern>/accueil_template</url-pattern>
    </servlet-mapping>
    <!-- TemplateShowServlet           -->
    <servlet>
        <servlet-name>TemplateShowServlet</servlet-name>
        <servlet-class>PAAS.Servlets.TemplateShowServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateShowServlet</servlet-name>
        <url-pattern>/show_template</url-pattern>
    </servlet-mapping>
    <!-- TemplateDeleteServlet           -->
    <servlet>
        <servlet-name>TemplateDeleteServlet</servlet-name>
        <servlet-class>PAAS.Servlets.TemplateDeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateDeleteServlet</servlet-name>
        <url-pattern>/delete_template</url-pattern>
    </servlet-mapping>
    <!-- TemplateCreateServlet           -->
    <servlet>
        <servlet-name>TemplateCreateServlet</servlet-name>
        <servlet-class>PAAS.Servlets.TemplateCreateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TemplateCreateServlet</servlet-name>
        <url-pattern>/create_template</url-pattern>
    </servlet-mapping>
</web-app>
